@import url(https://fonts.googleapis.com/css?family=Roboto:100,200,400,500,300,300italic,400italic,500italic&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700);

$white: #ffffff;
$navy-blue: #3d00f4;
$light-blue: #4ecdc4;
$gray: #575757;

body {
    position: relative;
    font-family: "Roboto", "Helvetica Neue", Arial, Helvetica, sans-serif;
}

h3 {
    font-size: 32px;
    font-weight: 900;
    letter-spacing: 0;
    color: $gray;
    padding-bottom: 1rem;

    .thick-underline {
        position: relative;

        > span {
            position: absolute;
            bottom: 2px;
            height: 8px;
            left: 0;
            right: -20px;
            background-color: $light-blue;
            border-radius: 28.5px;
            z-index: -1;
        }
    }
}

b, strong {
    font-weight: 500;
}

i, em {
    text-decoration: none;
    font-style: normal;
    color: $light-blue;
}

p {
    font-size: 17px;
    letter-spacing: 0.5px;
    color: $gray;
    line-height: 1.6;
    font-weight: 300;
}

header {
    background-color: transparent;

    &.affix {
        background-color: $navy-blue;
    }

    .navbar-brand {
        img {
            width: 187.5px;

            @media screen and (min-width: 576px) {
                width: 250px;
            }
        }
    }

    .navbar-collapse {
        background-color: $navy-blue;

        .nav-link {
            padding-left: 20px;
        }

        @media screen and (min-width: 992px) {
            background-color: transparent;

            .nav-link {
                padding-left: inherit;
            }
        }
    }
}

.container-fluid  {
    @media screen and (min-width: 1200px) {
        width: 1280px;
    }
}

.main-display {
    position: relative;
    top: 80px;
    box-shadow: 0 2px 50px 0 rgba(1, 40, 101, 0.8);
    width: 100%;
    height: 567px;
    background-color: $navy-blue;
    padding: 48px 48px 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 10;

    @media screen and (min-width: 576px) {
        top: 106px;
    }

    @media screen and (min-width: 992px) {
        width: 580px;
    }

    .main-display-title {
        color: $white;
        font-weight: 900;
        font-size: 50px;
        height: 50px;
        line-height: 1;

        @media screen and (min-width: 576px) {
            font-size: 75px;
            height: 75px;
        }

        @media screen and (min-width: 768px) {
            font-size: 100px;
            height: 100px;
        }

        &.alternate {
            color: $light-blue;
        }
    }

    .subtitle {
        color: $white;
        font-weight: 200;
        font-size: 20px;
        margin-top: 10px;
        margin-bottom: 10px;

        @media screen and (min-width: 576px) {
            margin: 0;
            line-height: 2.5;
        }
    }

    .important-info {
        color: $white;
        font-size: 15px;
        font-weight: 500;
        letter-spacing: 0.5px;

        @media screen and (min-width: 576px) {
            font-size: 17px;
        }

        .fas {
            width: 17px;
            color: $light-blue;
            text-align: center;
            margin-right: 5px;
        }

        > div {
            line-height: 2;
        }
    }

    button.btn-primary {
        color: $navy-blue;
        border-radius: 28.5px;
        background-color: $light-blue;
        border: 0;
        font-weight: 500;
        width: 207px;
        height: 45px;
        font-size: 20px;
        align-self: center;

        @media screen and (min-width: 576px) {
            align-self: flex-start;
        }

        &:hover, &:focus, &:visited, &:checked,
        &:not(:disabled):not(.disabled):active {
            color: $navy-blue;
            background-color: $light-blue;
            border-color: $light-blue;
        }
    }

    .social-links {
        align-self: center;
        color: $white;
        font-size: 25px;

        @media screen and (min-width: 576px) {
            align-self: flex-end;
        }

        ul, li {
            margin: 0;
            padding: 0;
            line-height: 1;
        }

        ul {
            list-style: none;
        }

        li {
            display: inline-block;
            margin-left: 16px;
        }

        a, i, em {
            color: $white;
        }
    }
}

.container-fluid {
    @media screen and (min-width: 576px) {
        padding-left: 30px;
        padding-right: 30px;
    }

    @media screen and (min-width: 768px) {
        padding-left: 50px;
        padding-right: 50px;
    }
}

nav {
    &.navbar-dark {
        .navbar-nav a.nav-link {
            font-size: 15px;
            font-weight: 100;
            color: $white;
            

            @media screen and (min-width: 1200px) {
                letter-spacing: 1px;
            }

            &.active {
                // TODO: implement highlighting menu items on scroll   
            }
        }
    }
        
    button.btn-outline-primary {
        color: $light-blue;
        background-color: $navy-blue;
        border-color: $light-blue;
        border-width: 2px;
        border-radius: 28.5px;
        width: 123px;

        &:hover, &:focus, &:visited, &:checked,
        &:not(:disabled):not(.disabled):active {
            color: $navy-blue;
            background-color: $light-blue;
            border-color: $light-blue;
        }
    }
}

// TODO: revisit it
.jumbotron-fluid .container-fluid {
    background-image: url("../images/bg-photo.jpg");
    background-size: cover;
    height: 648px;
    position: relative;
    background-position: bottom;
}

#about .container-fluid {
    background-image: none;
    background-repeat: no-repeat;
    background-clip: padding-box;
    background-size: 480px;

    @media screen and (min-width: 992px) {
        background-image: url("../images/lines.png");   
    }

    @media 
        screen and (min-width: 992px) and (-webkit-min-device-pixel-ratio: 2), 
        screen and (min-width: 992px) and (min-resolution: 192dpi) {
        background-image: url("../images/lines@2x.png");
    }

    > .row {
        padding-top: 50px;

        @media screen and (min-width: 576px) {
            padding-top: 90px;
        }
    }
}