<section id="counters">
    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="d-none d-lg-block col-lg-6 counters-photo"></div>
            <div class="col-lg-6 col-sm-12">
                <div class="row no-gutters">
                    <div class="col-sm-3 col-6 counter">
                        <div class="counter-content">
                            <span class="count">3</span>
                            <span class="title">Days</span>
                        </div>
                    </div>
                    <div class="col-sm-3 col-6 counter">
                        <div class="counter-content">
                            <span class="count">35</span>
                            <span class="title">Talks</span>
                        </div>
                    </div>
                    <div class="col-sm-3 col-6 counter">
                        <div class="counter-content">
                            <span class="count">4</span>
                            <span class="title">Workshops</span>
                        </div>
                    </div>
                    <div class="col-sm-3 col-6 counter">
                        <div class="counter-content">
                            <span class="count">4</span>
                            <span class="title">Side Events</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>