<header class="fixed-top"> 
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark pt-3 pb-3 pl-0 pr-0">
      <a class="navbar-brand" href="/">
        <img src="/images/logo.png" alt="DevConf" srcset="/images/logo@2x.png 2x, /images/logo@3x.png 3x">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item mr-2">
            <a class="nav-link" href="#about">About <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item mr-2">
            <a class="nav-link" href="#speakers">Speakers</a>
          </li>
          <li class="nav-item mr-2">
            <a class="nav-link" href="#schedule">Schedule</a>
          </li>
          <li class="nav-item mr-2">
            <a class="nav-link" href="#workshops">Workshops</a>
          </li>
          <li class="nav-item mr-2">
            <a class="nav-link" href="#sponsors">Sponsors</a>
          </li>
          <li class="nav-item mr-2">
            <a class="nav-link" href="#location">Location</a>
          </li>
        </ul>

        <form class="form-inline">
          <button class="btn btn-outline-primary" type="button">Get Tickets</button>
        </form>
      </div>
    </nav>
  </div>
</header>