<div class="jumbotron-fluid">
    <div class="container-fluid">
        <div class="main-display">
            <div class="title">
                <div class="main-display-title">DevConf</div>
                <div class="main-display-title alternate">2019</div>
                <div class="subtitle">Conference for Professional Software Developers</div>
            </div>            
            <div class="important-info">
                <div>
                    <i class="fas fa-graduation-cap"></i>
                    26 Sept 2019 - Workshops
                </div>
                <div>
                    <i class="fas fa-microphone"></i>
                    27-28 Sept 2019 Conference
                </div>
                <div>
                    <i class="fas fa-map-marker-alt"></i>
                    Kraków, Poland
                </div>
            </div>
            <button class="btn btn-primary" type="button">Get Tickets</button>
            <div class="social-links">
                <ul>
                    <li>
                        <a href="https://www.facebook.com/devconfpl"><i class="fab fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href="https://twitter.com/devconfpl"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/channel/UCXp2tbIOcFe0WP1OaoREmWA"><i class="fab fa-youtube"></i></a>
                    </li>
                    <li>
                        <a href="https://www.flickr.com/photos/151642418@N02/"><i class="fab fa-flickr"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>