<section id="newsletter">
    <div class="container-fluid px-0">
        <div class="row align-items-center no-gutters">
            <div class="col-md-6 text-center newsletter-description p-3 p-sm-4">
                <h2>Join our Newsletter!</h2>
                <p>
                    No Spam - Only latest news and activity updates.
                </p>
            </div>
            <div class="col-md-6 px-md-5 p-3 p-sm-4">
                <div class="input-group mx-auto">
                    <input type="text" class="form-control pl-4" placeholder="email@email.com" aria-label="email@email.com" aria-describedby="button-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-secondary py-0 px-3 px-lg-5" type="button" id="button-addon2">Sign Up</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>