<section id="speakers">
    <div class="container-fluid">
        <div class="section-header text-center">
            <h3>Speakers</h3>
            <p class="mb-1">
                Meet our <strong>professionals</strong>.
            <p class="mb-1">
            <p>
                More speakers to be revealed in coming weeks.
            </p>
        </div>
        <div class="card-deck">
            <% data.speakers.items.sort_by(&:surname).each do |s| %>
                <%= partial(:speaker, :locals => { :speaker => s }) %>
            <% end %>
        </div>
    </div>
</section>