<section id="speakers">
    <div class="container-fluid">
        <div class="section-header text-center">
            <h3>Speakers</h3>
            <p>
                Meet our <em>professionals</em>.
            </p>
        </div>
        <div class="section-info text-center">
            <p>
                
            </p>
            <a class="btn btn-primary mx-auto" href="<%= data.general.cfp_link %>" role="button">Apply to Speak!</a>
        </div>
    </div>
</section>