<section id="speakers">
    <div class="container-fluid">
        <div class="section-header text-center">
            <h3>Speakers</h3>
            <p>
                Meet our <em>professionals</em>.
            </p>
        </div>
        <div class="section-info text-center">
            <p>
                
            </p>
            <button class="btn btn-primary mx-auto" type="button">Apply to Speak!</button>
        </div>
    </div>
</section>