<section id="speakers">
    <div class="container-fluid">
        <div class="section-header text-center">
            <h3>Sponsors</h3>
            <p class="mb-1">
                Companies that <em>support us</em>.
            </p>
            <p class="mb-1">
                If you or your company would like to reserve a spot as a sponsor, contact us because we might have a good deal for you.
            </p>
        </div>
        <div class="section-info text-center">
            <p>
                
            </p>
            <button class="btn btn-primary mx-auto" type="button">Become a Sponsor!</button>
        </div>
    </div>
</section>