<section id="speakers">
    <div class="container-fluid">
        <div class="section-header text-center">
            <h3>Tickets</h3>
            <p>
                Get yours while they're still available.
            </p>
        </div>
    </div>
</section>