<%= partial "header" %>

<%= partial "hero" %>

<h1>Hello, DevConf2019!</h1>

<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu dapibus neque. Sed scelerisque, metus id suscipit scelerisque, magna enim vestibulum ligula, accumsan varius nisi sem nec nunc. Morbi tempus, sem sed pellentesque lobortis, nisl diam feugiat sem, sit amet euismod neque nibh quis arcu. Donec aliquam pharetra viverra. Sed dolor urna, efficitur ac ex vel, commodo semper elit. Sed dignissim justo ut nisl fringilla auctor. Phasellus vitae eros tortor. Curabitur ex risus, consequat vitae tempus quis, tincidunt sed lectus. Nullam vitae pellentesque orci, a pellentesque dui. Donec cursus sodales erat, a euismod elit laoreet a. Integer sed elementum ligula. Pellentesque vitae mollis ante, non aliquet dui. Etiam in magna vel velit blandit malesuada gravida in risus. 
</p>

<p id="about">
Donec ac mi vel eros consectetur varius. Vestibulum fringilla mollis dolor eu commodo. Integer rhoncus enim eu augue ultricies, in accumsan augue interdum. Praesent ut felis dui. Mauris leo ligula, vestibulum vel orci eu, ultrices hendrerit mi. Mauris nec sodales enim. Donec vestibulum metus nec orci consectetur, sed elementum tortor egestas. Aliquam pellentesque placerat felis et posuere. Integer rhoncus et leo ac dapibus. 
</p>

<p>
Suspendisse ante dui, tristique a risus quis, interdum sagittis arcu. Etiam imperdiet a sem et lobortis. Praesent imperdiet condimentum massa sed varius. Ut congue ullamcorper convallis. Curabitur ac condimentum lorem. Integer et mollis urna. Vestibulum ut purus lobortis, sagittis erat sit amet, faucibus nisl. Nullam sit amet mi in justo hendrerit bibendum a a orci. Maecenas tincidunt, ante a dapibus euismod, erat neque semper purus, et euismod sapien augue sit amet ipsum. Aenean nibh lorem, congue vitae nulla at, facilisis volutpat diam. 
</p>

<p id="speakers">
Nullam tristique augue sit amet arcu rhoncus commodo. Pellentesque efficitur suscipit purus consectetur porttitor. Sed eleifend orci ante, id fermentum sem gravida sit amet. Nunc tristique pellentesque orci, vitae mattis turpis dignissim ut. In rutrum mollis risus, non auctor arcu sollicitudin at. Aliquam ac augue vel risus interdum cursus. Aliquam eget urna vehicula, pulvinar diam placerat, sagittis elit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Quisque nunc quam, pretium id maximus a, vestibulum in ligula. Suspendisse gravida quis turpis quis finibus. Nulla facilisi. 
</p>

<p>
Suspendisse ullamcorper ac nibh aliquet accumsan. Etiam gravida magna quis leo fringilla venenatis. Vivamus blandit porta massa ut feugiat. Phasellus non leo nulla. Pellentesque vel quam aliquet mi dignissim iaculis. Quisque a libero non justo pellentesque vehicula. Donec sit amet feugiat urna. Donec finibus libero id lacus porttitor viverra. Integer non felis sem. Quisque sed metus eget mauris placerat consectetur. Etiam venenatis, est eget molestie mattis, dolor lectus finibus eros, ut finibus libero sapien sit amet ligula. Cras eu elit eu sem consectetur suscipit eget mollis neque. Proin purus lectus, consectetur vel ligula ut, fermentum pulvinar orci. 
</p>

<p id="schedule">
Cras maximus accumsan eros. Sed nisl lorem, elementum id ullamcorper sit amet, posuere commodo augue. Cras a consectetur tellus, non pulvinar orci. Praesent et tincidunt est, non dapibus tellus. Donec finibus tincidunt turpis, id scelerisque nulla semper eget. Maecenas mollis interdum neque id facilisis. Cras vel varius ipsum, eget condimentum lectus. Suspendisse sit amet eros vulputate, mollis dolor quis, dignissim tortor. Quisque ac iaculis lacus. Maecenas in ornare lectus. Phasellus pretium turpis ac lobortis convallis. Nunc viverra placerat fermentum. Donec ut auctor ligula. Donec cursus felis quis massa lobortis, vel posuere dolor interdum. Donec ex arcu, finibus sed tincidunt ut, convallis eget massa. Donec lacinia efficitur mollis. 
</p>

<p>
Sed ac tellus euismod, bibendum nulla quis, convallis dolor. Vivamus velit velit, feugiat in turpis dictum, aliquam aliquet quam. Curabitur faucibus id augue sit amet sollicitudin. Suspendisse tristique magna non nisl iaculis pretium. Aliquam mi ex, euismod id luctus eu, scelerisque molestie magna. Curabitur eget eros vel mi vestibulum feugiat id sit amet tellus. Nunc mollis, leo quis accumsan vulputate, odio augue scelerisque odio, in finibus sem orci et mi. Maecenas eget nulla maximus, eleifend risus nec, tempus massa. Aliquam pharetra, dui a consectetur pharetra, urna sapien maximus neque, quis fermentum augue mi sagittis dui. Aenean pellentesque orci sed leo finibus ornare. Morbi at ligula at ligula pharetra tempus feugiat vel quam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Morbi eget ex orci. 
</p>

<p>
Integer elementum aliquet diam non suscipit. Proin dignissim facilisis turpis ornare blandit. Nulla ac rutrum tortor, quis vestibulum ex. Sed laoreet venenatis odio, sit amet laoreet ligula eleifend vel. Praesent vitae hendrerit sem, nec semper magna. Phasellus eget nisi at erat aliquam molestie. Cras vitae velit mattis, maximus tellus eget, egestas risus. Cras quam felis, ullamcorper viverra urna ut, lobortis condimentum tellus. Nunc sollicitudin convallis justo, eu aliquet libero. Proin sagittis at lacus sit amet suscipit. Sed porta elit risus, a dictum dui pulvinar nec. Duis nec ex pretium, scelerisque augue et, dignissim arcu. 
</p>

<p>
Curabitur congue interdum velit id vulputate. Aliquam id faucibus ante, non commodo neque. Sed ut nisl ac elit sollicitudin posuere at molestie est. Curabitur vulputate nisi tincidunt urna gravida, eget placerat tortor faucibus. Cras auctor, tellus id rhoncus mollis, arcu nunc commodo lorem, at finibus nunc erat ut quam. Vestibulum elementum varius efficitur. Duis non turpis a risus convallis aliquam. Vestibulum sapien est, imperdiet id dolor non, faucibus condimentum eros. Ut ac lacus eget arcu laoreet suscipit feugiat id elit. Etiam non metus in elit fringilla eleifend sit amet fermentum ex. 
</p>

<p id="location">
Quisque ex nibh, volutpat in consequat eu, rutrum non justo. Duis nisl orci, semper vel nisi in, fermentum cursus ligula. Nullam purus urna, gravida vitae hendrerit vulputate, auctor a risus. Nunc rhoncus eros sem, nec fermentum leo scelerisque quis. Quisque varius vel augue egestas accumsan. Integer volutpat est mauris, nec aliquet libero cursus eu. Cras vitae finibus leo, ac auctor lorem. Integer auctor ut turpis finibus gravida. Quisque non auctor leo. Quisque felis lorem, ultricies vitae dictum at, mollis in neque. Donec ut augue nec nisl pulvinar convallis quis eu justo. Nullam tristique dui in magna porta, id iaculis quam hendrerit. Integer gravida semper aliquam. Aliquam iaculis lorem sit amet orci tempus eleifend. Curabitur id lacus blandit, eleifend sem vitae, tempus justo. Pellentesque imperdiet velit ut lorem tempor ullamcorper. 
</p>

